body{
  background-color: rgb(53, 53, 53);
}
li{
  color: beige;
}
.daily-image {
    z-index: -1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    margin-bottom: 10px;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h3 {
  color:#fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
 margin: 10em auto 2em auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


.section_info{
  display: flex;
  /* flex-direction: column */
  /* justify-content: space-between;
  align-items: center; */
  height: 400px;
  width: 90vw;
  border: 2px blue solid;
}

#main_planet_img{
  height:300px;
  width: 45vw;
  border: 2px black solid;
  border-radius: 10px;
  object-fit: scale-down;
}

#planet_card{
  height:300px;
  width: 45vw;
  border: 2px black solid;
  border-radius: 10px;
}

#photo_section{
  height: 400px;
  width: 90vw;
  border: 2px green solid;
}
.planet_section{
  height: 50vh;
}
.planet_links{
  border: black 2px solid;
  border-radius: 10px;
  height: 100px;
  width: 90vw;
}